[submodule "Backend"]
	path = Backend
	url = git@github.com:unitn-se-T10/Backend.git
[submodule "Frontend"]
	path = Frontend
	url = git@github.com:unitn-se-T10/Frontend.git
[submodule "Documents"]
	path = Documents
	url = git@github.com:unitn-se-T10/Documents.git
